<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - HCTT</title>
    <link rel="stylesheet" href="../assests/css/login.css" />
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <h1>HCTT</h1>
        <p>Managing Service</p>
      </div>

      <form class="login-box" onsubmit="return handleLogin(event)">
        <h2>Welcome back!</h2>

        <label>Username</label>
        <div class="input-group">
          <input
            type="text"
            id="username"
            placeholder="Enter your username"
            required
          />
        </div>

        <label>Password</label>
        <div class="input-group">
          <input
            type="password"
            id="password"
            placeholder="Password"
            required
          />
          <span id="toggle-password" class="icon">👁</span>
        </div>

        <button type="submit">LOG IN</button>
        <a href="register.html">Don't have an account? Register</a>
      </form>
    </div>

    <script src="../assests/js/login.js"></script>
  </body>
</html>
